node_modules

/.cache
/build
/esm
/cjs
/public/build
.env
.env.*
*.tsbuildinfo
/coverage
/dist

.DS_Store
vite.config.ts.timestamp*

.pb/pb_data
scripts/gen-data

public/sprite*
*.cpuprofile

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*storybook.log
.npmrc

*.js
*.d.ts

!app/*.d.ts
